/* Dashboard.module.css */

/* Container principal */
.dashboardContainer {
  display: flex;
  flex-direction: row; /* Coluna para telas maiores */
  min-height: 100vh;
  background-color: #f8f9fa;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

/* Conteúdo principal */
.dashboardContent {
  flex: 1;
  padding: 15px;
  background-color: #f8f9fa;
  overflow-x: hidden; /* Evita overflow */
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

/* Título do Dashboard */
.dashboardTitle {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

/* Filtros e Botões */
.filtersAndReservations {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

/* Filtros */
.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.filtersContainer .filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.filters input,
.filters select {
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-width: 180px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.filters input[type='date'] {
  width: 150px;
}

.filters select {
  width: 150px;
}

.downloadButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.downloadButtons button {
  background-color: #0a50ca;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9rem;
  min-width: 120px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.downloadButtons button:hover {
  background-color: #1c95f2;
}

/* Tabela de Reservas */
.reservationsTableContainer {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.reservationsTableContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.reservationsTable {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.reservationsTable th,
.reservationsTable td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-size: 0.9rem;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.reservationsTable th {
  background-color: #f1f1f1;
  color: #333;
  font-weight: bold;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.reservationsTable tr:hover {
  background-color: #f9f9f9;
}

.reservationsTable button {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #0a50ca;
  color: white;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.reservationsTable button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.reservationsTable button:not(:disabled):hover {
  background-color: #1c95f2;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.pagination button {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.acoes-css button {
  gap: 10px;
  margin: 10px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.pagination button:hover {
  background-color: #1c95f2;
  color: white;
}

.pagination .active {
  background-color: #0a50ca;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}

/* Gráficos */
.chartsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 15px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

.chartCanvas {
  width: 100%;
  max-width: 350px;
  height: 200px;
  font-family: var(--font-family); /* Adiciona a fonte Poppins */
}

/* Media Queries para Responsividade */

/* Para telas grandes */
@media (max-width: 1200px) {
  .dashboardContainer {
    flex-direction: column; /* Muda para coluna em telas menores */
  }

  .dashboardContent {
    padding: 15px;
  }

  .filtersContainer .filters {
    justify-content: space-between;
  }
}

/* Para telas médias */
@media (max-width: 768px) {
  .dashboardContent {
    margin-left: 0;
  }

  .filters input,
  .filters select {
    width: 100%;
  }

  .filtersContainer {
    flex-direction: column;
  }

  .downloadButtons button {
    width: 100%;
  }

  .pagination button {
    padding: 6px 12px;
  }

  .chartsContainer {
    flex-direction: column;
    align-items: center;
  }

  .chartCanvas {
    max-width: 100%;
    height: 180px;
  }
}

/* Para telas pequenas */
@media (max-width: 480px) {
  .dashboardTitle {
    font-size: 1.8rem;
  }

  .reservationsTable th,
  .reservationsTable td {
    padding: 6px;
  }

  .pagination button {
    padding: 6px 10px;
  }
}

.acoes-css button {
  gap: 10px;
  margin: 10px;
}