/* Dashboard.module.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif; /* Adiciona a fonte Poppins */
  overflow-x: hidden; /* Evita overflow */
  transition: margin-left 0.4s ease;
}

/* Container principal */
.dashboardContainer {
  display: flex;
  flex-direction: row; /* Coluna para telas maiores */
  min-height: 100vh;
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif; /* Adiciona a fonte Poppins */
}

/* Conteúdo principal */
.dashboardContent {
  flex: 1;
  padding: 15px;
  background-color: #f8f9fa;
  overflow-x: hidden; /* Evita overflow */
  font-family: 'Poppins', sans-serif; /* Adiciona a fonte Poppins */
  transition: margin-left 0.4s ease;
}

/* Título do Dashboard */
.dashboardTitle {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif; /* Adiciona a fonte Poppins */
}

/* Filtros e Botões */
.filtersAndReservations {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Poppins', sans-serif; /* Adiciona a fonte Poppins */
}

/* Filtros */
.filtersContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust this value to set the desired gap */
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust this value to set the desired gap */
}

.filters input,
.filters div {
  margin-bottom: 0; /* Remove bottom margin */
}

.filters label {
  margin-right: 5px; /* Adjust this value to set the desired gap */
}

/* Reservas */
.reservationsTableContainer {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.reservationsTable {
  width: 100%;
  border-collapse: collapse;
}

.reservationsTable th,
.reservationsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.reservationsTable th {
  background-color: #f2f2f2;
}

.reservationsTable tr:nth-child(even) {
  background-color: #fafafa;
}

.reservationsTable tr:hover {
  background-color: #f1f1f1;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination .active {
  background-color: #0056b3;
}

/* Gráficos */
.chartsContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/* Download Buttons */
.downloadButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.downloadButtons button {
  background-color: #000; /* Black color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.downloadButtons button:hover {
  background-color: #333; /* Darker black on hover */
  transform: translateY(-2px); /* Levanta o botão ao passar o mouse */
}

/* Media Queries para Responsividade */

/* Para telas grandes */
@media (max-width: 1200px) {
  .dashboardContent {
    padding: 15px;
  }

  .filtersContainer .filters {
    justify-content: space-between;
    gap: 2px; /* Further reduced gap for larger screens */
  }
}

/* Para telas médias */
@media (max-width: 768px) {
  .dashboardContent { 
    padding: 10px;
  }

  .filters input,
  .filters select {
    width: 100%;
  }

  .filtersContainer {
    flex-direction: column;
  }

  .downloadButtons button {
    width: 100%;
  }

  .pagination button {
    padding: 6px 12px;
  }

  .chartsContainer {
    flex-direction: column;
    align-items: center;
  }

  .chartCanvas {
    max-width: 100%;
    height: 180px;
  }

  .dashboardTitle {
    font-size: 1.5rem;
  }

  .filtersAndReservations {
    gap: 15px;
  }
}

/* Para telas pequenas */
@media (max-width: 480px) {
  .dashboardTitle {
    font-size: 1.2rem;
  }

  .reservationsTable th,
  .reservationsTable td {
    padding: 6px;
  }

  .pagination button {
    padding: 6px 10px;
  }

  .dashboardContent {
    padding: 5px;
  }

  .filtersAndReservations {
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  
}

.acoes-css button {
  gap: 10px;
  margin: 10px;
}

@media (max-width: 430px) {
  .dashboardTitle {
    font-size: 1.2rem;
  }

  .reservationsTable th,
  .reservationsTable td {
    padding: 6px;
  }

  .pagination button {
    padding: 6px 10px;
  }

  .dashboardContent {
    padding: 5px;
  }

  .filtersAndReservations {
    gap: 5px;
  }

  .filtersContainer .filters {
    gap: 2px; /* Further reduced gap for smaller screens */
  }
}

@media (max-width: 390px) {
  .dashboardTitle {
    font-size: 1rem;
  }

  .reservationsTable th,
  .reservationsTable td {
    padding: 4px;
  }

  .pagination button {
    padding: 4px 8px;
  }

  .dashboardContent {
    padding: 3px;
  }

  .filtersAndReservations {
    gap: 5px;
  }

  .filtersContainer .filters {
    gap: 2px; /* Further reduced gap for smaller screens */
  }
}

.acoes-css button {
  gap: 10px;
  margin: 10px;
}